In [1]:
import pandas as pd
import numpy as np
import warnings
import datetime
warnings.filterwarnings('ignore')

In [2]:
# Get hyperspectral data
PATH_TO_HYPERNETSLJAESL2A_PARQUET = "../../../../data/hypernetsLJaesL2A/_out00/hypernetsLJaesL2A_out00_001_0.parquet"
hypernetsLJaesL2A_out00_001_0 = pd.read_parquet(PATH_TO_HYPERNETSLJAESL2A_PARQUET)
hypernetsLJaesL2A_out00_001_0.head(3)

,utc_,viewing_azimuth_angle_,viewing_zenith_angle_,350,351,352,353,354,355,356,...,1663,1665,1668,1670,1673,1675,1678,1681,1683,1686
0,1686584064,293,30,0.004625,0.004307,0.004540,0.004497,0.004145,0.003909,0.004103,...,0.014135,0.013998,0.014228,0.014129,0.013977,0.013785,0.013783,0.014484,0.013635,0.013047
1,1692866048,293,30,0.006182,0.005801,0.005869,0.005559,0.005401,0.005406,0.005297,...,0.061748,0.062347,0.062733,0.061653,0.062367,0.062205,0.062450,0.061626,0.062690,0.060976
2,1691820160,293,30,0.010155,0.010084,0.010552,0.010096,0.009040,0.008312,0.009141,...,0.122593,0.123089,0.124041,0.123140,0.123814,0.122610,0.122189,0.120850,0.123345,0.121677

In [3]:
# Function to convert UTC to formatted datetime strings
def utc_to_formatted_datetime(utc_timestamp):
    dt = pd.to_datetime(utc_timestamp, unit='s')
    return dt.strftime('%Y.%m.%d %H:%M:%S')

In [4]:
# Function to calculate delta 1/2 hour
def calculate_shift_minus_hour(attribute, h):
    return attribute - h * 3600 #/ 30

def calculate_shift_plus_hour(attribute, h):
    return attribute + h * 3600 #/ 30

In [5]:
hypernetsLJaesL2A_out01_001_0 = pd.DataFrame(hypernetsLJaesL2A_out00_001_0[['utc_', 'viewing_azimuth_angle_', 'viewing_zenith_angle_']])
hypernetsLJaesL2A_out01_001_0 = (hypernetsLJaesL2A_out01_001_0
                    .assign(utc_dt = hypernetsLJaesL2A_out00_001_0['utc_'].apply(lambda x: utc_to_formatted_datetime(x)))
                    .assign(utc_minus_1u = hypernetsLJaesL2A_out00_001_0['utc_'].apply(lambda x: calculate_shift_minus_hour(x, 1)))
                    .assign(utc_plus_1u = hypernetsLJaesL2A_out00_001_0['utc_'].apply(lambda x: calculate_shift_plus_hour(x, 1)))
                    .assign(utc_minus_1u_dt = lambda e: e['utc_minus_1u'].apply(lambda x: utc_to_formatted_datetime(x)))
                    .assign(utc_plus_1u_dt = lambda e: e['utc_plus_1u'].apply(lambda x: utc_to_formatted_datetime(x)))
                    .assign(utc_minus_2u = hypernetsLJaesL2A_out00_001_0['utc_'].apply(lambda x: calculate_shift_minus_hour(x, 2)))
                    .assign(utc_plus_2u = hypernetsLJaesL2A_out00_001_0['utc_'].apply(lambda x: calculate_shift_plus_hour(x, 2)))
                    .assign(utc_minus_3u = hypernetsLJaesL2A_out00_001_0['utc_'].apply(lambda x: calculate_shift_minus_hour(x, 3)))
                    .assign(utc_plus_3u = hypernetsLJaesL2A_out00_001_0['utc_'].apply(lambda x: calculate_shift_plus_hour(x, 3)))
                    .assign(utc_minus_4u = hypernetsLJaesL2A_out00_001_0['utc_'].apply(lambda x: calculate_shift_minus_hour(x, 5)))
                    .assign(utc_plus_4u = hypernetsLJaesL2A_out00_001_0['utc_'].apply(lambda x: calculate_shift_plus_hour(x, 5)))
                    )
hypernetsLJaesL2A_out01_001_0.head(3)

,utc_,viewing_azimuth_angle_,viewing_zenith_angle_,utc_dt,utc_minus_1u,utc_plus_1u,utc_minus_1u_dt,utc_plus_1u_dt,utc_minus_2u,utc_plus_2u,utc_minus_3u,utc_plus_3u,utc_minus_4u,utc_plus_4u
0,1686584064,293,30,2023.06.12 15:34:24,1686580464,1686587664,2023.06.12 14:34:24,2023.06.12 16:34:24,1686576864,1686591264,1686573264,1686594864,1686566064,1686602064
1,1692866048,293,30,2023.08.24 08:34:08,1692862448,1692869648,2023.08.24 07:34:08,2023.08.24 09:34:08,1692858848,1692873248,1692855248,1692876848,1692848048,1692884048
2,1691820160,293,30,2023.08.12 06:02:40,1691816560,1691823760,2023.08.12 05:02:40,2023.08.12 07:02:40,1691812960,1691827360,1691809360,1691830960,1691802160,1691838160

In [6]:
PATH_OUTPUT = "../../../../data/hypernetsLJaesL2A/_out01/hypernetsLJaesL2A_out01_001_0.parquet"
hypernetsLJaesL2A_out01_001_0.to_parquet(PATH_OUTPUT)
pd.read_parquet(PATH_OUTPUT).head(3)

,utc_,viewing_azimuth_angle_,viewing_zenith_angle_,utc_dt,utc_minus_1u,utc_plus_1u,utc_minus_1u_dt,utc_plus_1u_dt,utc_minus_2u,utc_plus_2u,utc_minus_3u,utc_plus_3u,utc_minus_4u,utc_plus_4u
0,1686584064,293,30,2023.06.12 15:34:24,1686580464,1686587664,2023.06.12 14:34:24,2023.06.12 16:34:24,1686576864,1686591264,1686573264,1686594864,1686566064,1686602064
1,1692866048,293,30,2023.08.24 08:34:08,1692862448,1692869648,2023.08.24 07:34:08,2023.08.24 09:34:08,1692858848,1692873248,1692855248,1692876848,1692848048,1692884048
2,1691820160,293,30,2023.08.12 06:02:40,1691816560,1691823760,2023.08.12 05:02:40,2023.08.12 07:02:40,1691812960,1691827360,1691809360,1691830960,1691802160,1691838160